<% set_meta_tags canonical: root_url(locale: @locale),
                 twitter: { card: 'summary_large_image' },
                 alternate: { "en" => root_url(locale: 'en'),
                              "ja" => root_url(locale: 'ja') } %>



<div id="landing-page">
  <div class="w-100 background-black">
    <div class="wrapper">

      <%= render 'static_pages/lp/home' %>


      <%= render 'static_pages/lp/services' %>


      <%= render 'static_pages/lp/company' %>


      <%= render 'static_pages/lp/contact' %>


      <div class="w-100 d-block py-5"></div>
      <div class="w-100 d-block py-5"></div>
      <div class="w-100 d-block py-5"></div>
      <div class="w-100 d-block py-5"></div>
      <div class="w-100 d-block py-5"></div>
    </div>
  </div>
</div>