<% set_meta_tags noindex: true %>

<div id="landing-page">
  <div class="w-100 background-black">
    <div class="wrapper">
      <div class="px-4">
        <div class="w-100 d-block py-5"></div>
        <h1 class="top-heading pt-5 text-white text-center mb-3 fw-bold" id="home">お問い合わせありがとうございました。</h1>
      </div>
    </div>
  </div>
</div>