<div class="px-4" id="company">
  <div class="w-100 d-block py-5"></div>
  <!--
  <h1 class="top-heading pt-5 text-white text-center mb-3 fw-bold"> <#%= t('layouts.company') %></h1>
  -->
</div>
<div class="row mt-5 px-4 justify-content-md-center">
  <div class="col-xl-8">
    <h1 class="top-heading pt-5 text-white text-left">
      <%= t('layouts.company')  %>
    </h1>

    <table class="table background-black no-top-border">
      <tbody>
      <tr class="">
        <th scope="row">社名</th>
        <td>株式会社BooQs</td>
      </tr>
      <tr>
        <th scope="row">住所</th>
        <td>埼玉県入間市南峯３９９番６号</td>
      </tr>
      <tr>
        <th scope="row">代表取締役</th>
        <td>相川真司</td>
      </tr>
      <tr>
        <th scope="row">Email</th>
        <td>aikawa@booqs.net</td>
      </tr>
      <tr>
        <th scope="row">電話番号</th>
        <td>090-3510-4353</td>
      </tr>
      <tr>
        <th scope="row">X</th>
        <td>@kawanji01</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row mt-5 px-4 justify-content-md-center">
  <div class="col-xl-8">
    <div class="d-flex align-content-end mt-5">
      <div class="p-2 mt-5">
        <img src="<%= "https://cdn.startupleague.jp/ict/2305/image/profile.jpg" %>" class="img-fluid pe-3 rounded-circle" alt="">
      </div>
      <div class="p-2">
        <h3 class="text-white text-left">
          相川真司
        </h3>
        <div class="text-light">
          <p>高校在学中に週刊少年ジャンプで漫画賞を受賞。卒業後、業務用システムの開発を請け負う株式会社ティーワイシーに就職。 2019年に株式会社BooQs設立し、自身がエンジニアとして英語の技術ドキュメントと格闘する中で痛感した英語の語彙習得と忘却の課題を解決するために「忘れない辞書＆単語帳アプリ」としてDiQt（ディクト）を開発し、Web版・モバイルアプリ版・Chrome拡張版をリリースする。2022年度総務省主催異能vationプログラム「ジェネレーションアワード」ノミネート。</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="row mt-5 px-4 justify-content-md-center">
  <div class="col-xl-8">
    <h3 class="pt-5 text-white text-left">
      沿革
    </h3>
    <div class="text-light mt-4">
      <p>・2019年2月19日創業</p>
      <p>・2022年総務省主催異能ベーションプログラム「ジェネレーションアワード」ノミネート</p>
      <p>・2023年Microsoft for Startupプログラムに採択</p>
      <p>・2023年総務省の主催するICTスタートアップリーグプログラムに採択</p>
    </div>
  </div>
</div>