<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-xl">

    <div>
      <%= link_to root_path, id: "logo" do %>
        <img src="<%= "#{MAIN_IMAGES_URL}/diqt_logo.svg" %>"
             class="ms-2 me-3" height="32px;"><span>BooQs</span>
      <% end %>
    </div>

    <nav>
      <div class="navbar-header">
        <button id="hamburger" type="button" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <ul id="navbar-menu"
          class="nav navbar-nav navbar-right collapse navbar-collapse">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", root_path %></li>
      </ul>
    </nav>
  </div>
</header>
